<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div id="main_content" class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="https://google.com" target="_blank">This site is for clients to purchase order and confirm the goods received from company.</a>
    </p>
    <p>
        <a href="https://google.com" target="_top">Damian & Assassin.com</a>
    </p>
</div>